<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>DMG-Website</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div class="main-nav">
			<div class="nav-img">
				<a href="/">
					<img src="http://via.placeholder.com/200x80">
				</a>
				<div class="nav-menu hidden-md-up">
					<div class="menu-bar"></div>
					<div class="menu-bar"></div>
					<div class="menu-bar"></div>
				</div>
			</div>

			<ul class="nav-links">
				<a class="nav-link" href="/about">
					<li {{#ifeq section "about"}}class="active nav-item"{{else}}class="nav-item"{{/ifeq}}>
							<div class="nav-label">About</div>
					</li>
				</a>
				<li id="service-dropdown" {{#ifeq section "services"}}class="active nav-item"{{else}}class="nav-item"{{/ifeq}}>
					<a class="nav-link"><div class="nav-label" {{#ifeq section "services"}}class="active"{{else}}{{/ifeq}}>Services<span class="hidden-md-up dropdown-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></span></div></a>
					<div class="dropdown">
						<ul class="dropdown-links">
							<a href="/service/strategy-and-consulting"><li class="dropdown-link">Strategy and Consulting</li></a>
							<a href="/service/campaigns-and-content"><li class="dropdown-link">Campaigns and Content</li></a>
							<a href="/service/marketing-automation"><li class="dropdown-link">Marketing Automation</li></a>
							<a href="/service/data-optimization"><li class="dropdown-link">Data Optimization</li></a>
							<a href="/service/teleservices"><li class="dropdown-link">Teleservices</li></a>
						</ul>
					</div>
				</li>
				<a href="/resources" class="nav-link"><li {{#ifeq section "resources"}}class="active nav-item"{{else}}class="nav-item"{{/ifeq}}><div class="nav-label">Resources</div></li></a>
				<a href="" class="nav-link"><li {{#ifeq section "contact-us"}}class="active nav-item"{{else}}class="nav-item"{{/ifeq}}><div class="nav-label">Contact Us</div></li></a>
			</ul>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="footer">
			<div class="footer-content container">
				<div class="footer-links footer-services">
					<div class="footer-links-header">Services</div>
					<ul>
						<li><a href="#">Strategy and Consulting</a></li>
						<li><a href="#">Campaigns and Content</a></li>
						<li><a href="#">Marketing Automation</a></li>
						<li><a href="#">Data Optimization</a></li>
						<li><a href="#">Teleservices</a></li>
					</ul>
				</div>
				<div class="footer-links footer-about">
					<div class="footer-links-header">About</div>
					<ul>
						<li><a href="#">Team</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				<div class="footer-links footer-contact">
					<div class="footer-links-header">Contact</div>
					<ul>
						<li><a href="#">(503) 236-4242</a></li>
						<li><a href="#">Email Us</a></li>
					</ul>
				</div>
				<div class="footer-logo">
					<img src="http://via.placeholder.com/200x80">
					<div>© Dunthorpe Marketing Group 2017<br class="hidden-sm-up"><span class="hidden-xs-down">  |</span> <span><a href="#">Privacy Policy</a></span></div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/jquery/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/js/site.js"></script>
</html>
