<div class="page-content about-page">
	<div class="header-image-md">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">About</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<section class="intro">
				<p>
					<strong>Dunthorpe Marketing Group</strong> helps push your leads to a state of sales readiness. We offer top-level strategy through tactical execution, providing marketing automation services, teleprospecting, database health initiatives, content development and demand generation for revenue growth.
				</p>
			</section>
			<section class="client-section">
				<h2>Our Clients</h2>
				<div class="quote-container">
					<div class="quote">
						<p><span class="quotemark">“</span><span class="quoteText">DMG is one of those awesome partnership’s at Danaher. They originally started working in a single BU and then through referrals and significant value added results they have helped many Danaher BUs in recent years. They bring unique experience, a graceful style and a mindset of getting to the right answer. In the DBSO, we view them as part of a very short list of significantly valued partners.</span><span class="quotemark">”</span></p>
					</div>
					<div class="client-info">
						<div class="client-name"><span class="mdash">&mdash;</span><span id="client-name">Mike Weatherred</span></div>
						<div class="client-company" id="client-company">Vice President, Danaher</div>
					</div>
					<div class="controls">
						<div class="arrow-left arrow" onclick="controlClick(-1)"><img src="/images/arrow-left-orange.svg"></div>
						<div class="dot active" id="dot0" onClick="changeQuote(0, 200)"></div>
						<div class="dot" id="dot1" onClick="changeQuote(1, 200)"></div>
						<div class="dot" id="dot2" onClick="changeQuote(2, 200)"></div>
						<div class="dot" id="dot3" onClick="changeQuote(3, 200)"></div>
						<div class="dot" id="dot4" onClick="changeQuote(4, 200)"></div>
						<div class="arrow-right arrow" onclick="controlClick(1)"><img src="/images/arrow-right-orange.svg"></div>
					</div>
				</div>
				<div class="logo-container">
					<div class="client-logo"><a href="https://www.hach.com/" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1505773447/Hach_vd1dyd.svg" alt="Hach Logo"></a></div>
					<div class="client-logo"><a href="http://www.fortive.com/" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1505773447/Fortive_hdclfk.svg" alt="Fortive Logo"></a></div>
					<div class="client-logo"><a href="http://www.mitel.com/" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1505773447/Mitel_ff8vpu.svg" alt="Mitel Logo"></a></div>
					<div class="client-logo"><a href="http://danaher.com" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1505833791/Danaher_wnoubv.svg" alt="Danaher Logo"></a></div>
					<div class="client-logo"><a href="https://www.leicabiosystems.com" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1505773447/Leica_oieldr.svg" alt="Leica Biosystems Logo"></a></div>
					<div class="client-logo"><a href="http://icertis.com" target="__balank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1506107373/Icertis_logo_dtgxoo.jpg" alt="Icertis Logo"></a></div>
					<div class="client-logo"><a href="https://www.kavokerr.com/" target="__blank"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1506107582/kavo-kerr-logo_dmhvtf.jpg" alt="Kavo Kerr Logo"></a></div>
				</div>
			</section>
		</div>
		<section class="body-content team-section">
			<a class="anchor" id="team-section"></a>
			<div class="header-row container executive"><h2>Executive Team</h2></div>
			<div class="executive team">
				<div class="team-container container">
					<div class="team-member-holder">
						{{# each data.team.executive}}
						<div class="team-member" id="executive{{@index}}" onclick='displayBio("{{bio}}", "{{certifications}}", "executive", {{@index}})'>
							<div class="team-photo"><img src="{{{cloudinaryUrl image}}}"></div>
							<div class="team-info">
								<div class="team-name">{{name}}</div>
								<div class="team-title">{{jobTitle}}</div>
							</div>
						</div>
						<div class="divider executive-divider" id="executive-divider{{@index}}"><div class="text"><div class="bioText"></div><div class="certText"></div></div></div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="header-row container"><h2>Account Services</h2></div>
			<div class="account team">
				<div class="team-container container">
					<div class="team-member-holder">
						{{# each data.team.account}}
						<div class="team-member" id="account{{@index}}" onclick='displayBio("{{bio}}", "{{certifications}}", "account", {{@index}})'>
							<div class="team-photo"><img src="{{{cloudinaryUrl image}}}"></div>
							<div class="team-info">
								<div class="team-name">{{name}}</div>
								<div class="team-title">{{jobTitle}}</div>
							</div>
						</div>
						<div class="divider account-divider" id="account-divider{{@index}}"><div class="text"><div class="bioText"></div><div class="certText"></div></div></div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="header-row container"><h2>Technical Services</h2></div>
			<div class="technical team">
				<div class="team-container container">
					<div class="team-member-holder">
						{{# each data.team.technical}}
						<div class="team-member" id="technical{{@index}}" onclick='displayBio("{{bio}}", "{{certifications}}", "technical", {{@index}})'>
							<div class="team-photo"><img src="{{{cloudinaryUrl image}}}"></div>
							<div class="team-info">
								<div class="team-name">{{name}}</div>
								<div class="team-title">{{jobTitle}}</div>
							</div>
						</div>
						<div class="divider technical-divider" id="technical-divider{{@index}}"><div class="text"><div class="bioText"></div><div class="certText"></div></div></div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="header-row container"><h2>Teleservices</h2></div>
			<div class="teleservices team">
				<div class="team-container container">
					<div class="team-member-holder">
						{{# each data.team.teleservices}}
						<div class="team-member" id="teleservices{{@index}}" onclick='displayBio("{{bio}}", "{{certifications}}", "teleservices", {{@index}})'>
							<div class="team-photo"><img src="{{{cloudinaryUrl image}}}"></div>
							<div class="team-info">
								<div class="team-name">{{name}}</div>
								<div class="team-title">{{jobTitle}}</div>
							</div>
						</div>
						<div class="divider teleservices-divider" id="teleservices-divider{{@index}}"><div class="text"><div class="bioText"></div><div class="certText"></div></div></div>
						{{/each}}
					</div>
				</div>
			</div>
		</section>
		<section class="building-section container body-content">
			<a class="anchor" id="building-history"></a>
			<h2>Building History</h2>
			<div class="building-history">
				<div class="history-text">
					<p>
						In the early twentieth century Sellwood's significance in Portland's transportation system was marked by the construction of new railroad buildings. In 1910 the railroad built a car barn facility and the Carmen's Clubhouse at 8825 SE 11th Avenue. The Carmen's Clubhouse remains today as the only surviving electric railroad company building in the Portland area.
					</p>
					<p>
						The Clubhouse was used for multiple purposes. The first floor had offices for the train dispatcher and trainmaster, record storage and lost and found for passengers' goods left on the trains. On this floor were also three shower-bath rooms and one bathroom. The second floor was the real "clubhouse," which offered amenities to Portland Railway Light and Power's conductors and motormen, collectively known as carmen. It contained a reading room, pool and gin rummy tables, three billiard tables, and several emergency sleeping rooms. The clubhouse was designed to keep employees content, deter them from frequenting saloons and forestall the creation of an independent union.
					</p>
					<p>
						Sellwood figured prominently in the history of the East Side electric railways. By 1915 Portland had the third most extensive electric railways system in America. The first major interurban electric line in the United States served the East Side of Portland including Sellwood. In 1939 the United States Forest Service took over the clubhouse for the use of the Civilian Conservation Corps. Until it was vacated in 1986, the clubhouse functioned as a forest pest research center and as a storage facility. Left vacant until 2002, the building was restored by Jeff and Susan Linman and placed on the National Historic Registry and is now the home of Dunthorpe Marketing Group.
					</p>
				</div>
				<div class="history-images">
					<div class="image-block">
						<img src="./images/building-historical-min.jpg">
						<div class="image-caption">Portland Railway Light and Power Car Men’s Clubhouse established 1909
					</div>
					</div>
					<div class="image-block">
						<img src="./images/building-current-min.png">
						<div class="image-caption">Current Day Photo</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/javascript" src="/js/about.js"></script>