<title>{{data.post.title}}</title>
<meta name="description" content="{{data.post.content.brief}}">


<div class="page-content article-page {{data.post.categories.[0].key}}">
	<div class="banner">
		<div class="breadcrumbs container"><span class="hidden-sm-down"><a href="/resources"><span class="back-btn">{{#unless data.post.categories.[0]}}<img src="/images/arrow-left-white.svg"/>{{/unless}}Resources</a>{{#if data.post.categories.[0]}} | </span><a href="/resources/{{data.post.categories.[0].key}}">{{data.post.categories.[0].name}}</a>{{/if}}</div>
	</div>
	


	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2 class="article-title">{{data.post.title}}</h2>
				<div class="post">
					{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					<div class="article-content">
						{{{data.post.content.extended}}}
					</div>
				</div>
			</article>
		</div>
	</div>
	<div class="featured-content-section">
		<div class="container">
			<h3>Additional Resources</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4>{{{title}}}</h4>
					{{{content.brief}}}
					<div class="fc-cta">
						<a href="{{postUrl slug}}" class="fc-button btn {{{categories.[0].key}}}">Read More</a>
					</div>
				</article>
				{{/each}}
			</div>
			<a  href="/resources" class="resource-btn">View all resources</a>
		</div>
	</div>
</div>
{{#if gate}}
<div class="gate-cover">
	<div class="gate-form-holder">
		<h3 class="form-header">Please complete this form to view the content</h3>
		<div class="gate-form">
			<form method="post" id="gateForm">
				<input type="hidden" name="action" value="gate">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<input required type="text" name="firstName" placeholder="First Name*"  value="{{formData.firstName}}">
				</div>
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<input required type="text" name="lastName" placeholder="Last Name*"  value="{{formData.lastName}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<input required type="email" name="email" placeholder="Email*" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<input required type="text" name="phone" placeholder="Phone*" value="{{formData.email}}">
				</div>
				<div class="form-actions">
					<button  type="submit" class="btn submit">Continue</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{/if}}

<script type="text/javascript" src="/js/article.js"></script>


