<div class="page-content service-page contact-page">
	<div class="header-image-md">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Contact</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container contact-content">
			<div class="contact-info">
				<h2>Let's Talk</h2>
				<p>We’re standing by to answer your questions? We’d love to talk with you and get to know your business and marketing challenges.</p>
				<p>
					<strong>Dunthorpe Marketing Group, Inc.</strong><br>
					8825 S.E. 11th Avenue, Suite 100<br>
					Portland, OR 97202-7045
				</p>
				<p>
					<strong>Email: </strong> <a href="mailTo:info@dunthorpemarketing.com">info@dunthorpemarketing.com</a><br>
					<strong>Phone: </strong>503.236.4242<br>
					<strong>Fax: </strong> 503.236.4609
				</p>
			</div>
			<div class="contact-form">
				{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>
				{{else}}
				<form method="post">
					<input type="hidden" name="action" value="contact">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<input required type="text" name="firstName" placeholder="First Name*"  value="{{formData.firstName}}">
					</div>
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<input required type="text" name="lastName" placeholder="Last Name*"  value="{{formData.lastName}}">
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<input required type="email" name="email" placeholder="Email*" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<input required type="text" name="phone" placeholder="Phone*" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<input  required type="text" name="company" placeholder="Company*" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<input required="" type="text" name="jobTitle" placeholder="Job Title*" value="{{formData.email}}">
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<textarea  name="message" placeholder="Leave us a message...">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button  type="submit" class="btn submit">Contact Us</button>
					</div>
				</form>
				{{/if}}
			</div>
			
		</div>
		
	</div>
	<div class="map">
		<iframe src="https://snazzymaps.com/embed/13050" width="100%" height="100%" style="border:none;"></iframe>
	</div>
</div>
