<div class="page-content homepage">
	<div class="header-image">
	</div>
	<div class="header-content-container">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Brains + brawn for your B2B marketing.</h1>
					<h3 class="sub-headline">Big picture thinking with a roll-up-your-sleeves attitude.</h3>
					<a href="#introduction"><div class="header-button">Learn More</div></a>
				</div>
				<div class="arrow">
					<a href="#introduction"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></a>
				</div>
			</div>
		</div>
	</div>
	<a class="anchor" id="introduction"></a>
	<div class="page-body">
		<div class="intro container">
			<article>
				<h2>The bridge between smart thinking and desired results.</h2>
				<p>Big ideas are a fantastic start. But many things must be in place before smart thinking can deliver desired results. You need rigorous  processes, systems, data, and content. You need a deep understanding of your audiences and the different stages of their buyer journey. And you need to engage them with the right message at the right time through the right channel.</p>
				<p>We are marketing strategists and practitioners, but the secret to our—and your—success lies in a healthy obsession with critical details. Utilizing big picture thinking, a roll-up-the-sleeves attitude, and an unwavering focus on your goals, we help you:</p>
				<ul>
					<li><img src='/images/arrow-olive.svg'/>Formalize your strategies and processes</li>
					<li><img src='/images/arrow-olive.svg'/>Optimize your data and automation systems</li>
					<li><img src='/images/arrow-olive.svg'/>Maximize your understanding of customers and prospects</li>
					<li><img src='/images/arrow-olive.svg'/>Synchronize these critical elements to drive predictable&mdash;and measurable&mdash;results</li>
				</ul>
			</article>
			<div class="section-break">
				<div class="break-line">
				</div>
				<div class="break-arrow">
					<a href="#capability-section">
						<div class="arrrow-img">
							<svg style="position: relative; background-color: #FFFFFF; padding: 0 .3em;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<a class="anchor" id="capability-section"></a>
		<div class="services-section">
			<div class="services-help container">
				<div class="dropdown-container">
					<h2 class="header">How can we help you?</h2>
					<div class="dropdown" id="services-help-dropdown">
						<div class="dropdown-btn">
							<a class="static">
								<strong>I need to...&nbsp;</strong>
							</a>
							<a class="dynamic-text hidden-sm-down">transform my marketing operations and process</a>
							<span class="spacer hidden-md"></span>
							<span class="arrow" id="services-help-dropdown-arrow">
								<svg  id="services-help-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
							</path>
							</span>
						</div>
						
						<div class="dropdown-options">
							<ul class="dropdown-links">
								<a href="/service/strategy-and-consulting"><li class="dropdown-link">I need to transform my marketing operations and processes</li></a>
								<a href="/service/campaigns-and-content"><li class="dropdown-link">I need to get more out of my marketing campaigns and content</li></a>
								<a href="/service/marketing-automation"><li class="dropdown-link">I need to optimize my automation tools and programs</li></a>
								<a href="/service/data-optimization"><li class="dropdown-link">I need to maximize my data resources</li></a>
								<a href="/service/teleservices"><li class="dropdown-link">I need to convert more leads, faster</li></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="services-capabilities">
				<a href="/service/strategy-and-consulting">
					<div class="capability sc">
						<div class="img-holder"><img src="/images/sc-icon.svg"></div>
						<div class="header"><h3>Strategy and Consulting</h3></div>
						<p>Working closely with marketing teams and senior executives, we help develop detailed strategies and operational models that drive successful marketing activities.</p>
						<div class="btn-holder">
							<a href="/service/strategy-and-consulting"><div class="capability-btn">Learn More</div></a>
						</div>
					</div>
				</a>
				<a href="/service/campaigns-and-content">
					<div class="capability cc">
						<div class="img-holder"><img src="/images/cc-icon.svg"></div>
						<div class="header"><h3>Campaigns and Content</h3></div>
						<p>We turn big ideas and process excellence into high-performing campaigns that deliver measurable results.</p>
						<div class="btn-holder">
							<a href="/service/campaigns-and-content"><div class="capability-btn">Learn More</div></a>
						</div>
					</div>
				</a>
				<a href="/service/marketing-automation">
					<div class="capability ma">
						<div class="img-holder"><img src="/images/ma-icon.svg"></div>
						<div class="header"><h3>Marketing Automation</h3></div>
						<p>Our dedicated technical team has an array of software certifications, but successful marketing automation requires more than tools and technological know how.</p>
						<div class="btn-holder">
							<a href="/service/marketing-automation"><div class="capability-btn">Learn More</div></a>
						</div>
					</div>
				</a>
				<a href="/service/data-optimization">
					<div class="capability do">
						<div class="img-holder"><img src="/images/do-icon.svg"></div>
						<div class="header"><h3>Data Optimization</h3></div>
						<p>We’re not afraid to roll up our sleeves and dive deeply into your marketing and contact databases. After all, marketing success cannot be achieved with inaccurate or incomplete data.</p>
						<div class="btn-holder">
							<a href="/service/data-optimization"><div class="capability-btn">Learn More</div></a>
						</div>
					</div>
				</a>
				<a href="/service/teleservices">
					<div class="capability tel">
						<div class="img-holder"><img src="/images/tel-icon.svg"></div>
						<div class="header"><h3>Teleservices</h3></div>
						<p>Teleservices represent the highest performing element of our integrated marketing programs and always deliver predictable, measurable results.</p>
						<div class="btn-holder">
							<a href="/service/teleservices"><div class="capability-btn">Learn More</div></a>
						</div>
					</div>
				</a>
			</div>
		</div>


		<div class="contact-section">
			<div class="contact-content container">
				<h2>Want to get in touch?</h2>
				<p>We’re standing by to answer your questions. We'd love to talk with you and get to know your business and marketing challenges.</p>
				<a href="/contact"><div class="btn contact-button"><strong>Contact Us</strong></div></a>
			</div>
		</div>
		{{#if data.posts.[0]}}
		<div class="featured-content-section">
			<div class="container">
				<h3>Featured Content</h3>
				<div class="featured-content">
					{{# each data.posts}}
					<article class="fc">
						<div class="category-link {{{categories.[0].key}}}"><a href="/resources/{{{categories.[0].key}}}">{{categories.[0].name}}</a></div>
						<h4>{{{title}}}</h4>
						{{{content.brief}}}
						<div class="fc-cta">
							<a href="{{postUrl slug}}" class="fc-button btn {{{categories.[0].key}}}">{{cta}}</a>
							
						</div>
					</article>
					{{/each}}
				</div>
				<a  href="/resources" class="resource-btn">View all resources</a>
			</div>
		</div>
		{{/if}}
	</div>
</div>

<script type="text/javascript" src="/js/homepage.js"></script>
