<div class="page-content service-page">
	<div class="header-image-md" style="background-image: url('/images/headers/marketing-automation-min.jpg'); background-position: 50% 40%;">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Marketing Automation</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2 class="ma">Optimize your automation tools and programs.</h2>
				<p>Our dedicated technical team has an array of software certifications, but successful marketing automation requires more than tools and technological knowhow. It demands meticulous audience targeting, high-quality data, and compelling content—wrapped in process-driven strategies and campaigns. We can help you with all of it. </p>
				<ul class="service-list">
					<li><img src='/images/arrow-dark-blue.svg'/>Automation maturity assessment and roadmap development</li>
					<li><img src='/images/arrow-dark-blue.svg'/>Platform optimization</li>
					<li><img src='/images/arrow-dark-blue.svg'/>Program development and lead management</li>
					<li><img src='/images/arrow-dark-blue.svg'/>Standards documentation and training</li>
				</ul>
				<br>
				<h3 class="ma">Marketing Automation Maturity Ladder </h3>
				<p>
					As your organization’s marketing maturity increases, so too does the scope and sophistication of your marketing automation activities. Progressing through the stages means moving from reactive one-off batch emails to persona-based triggered programs covering the entire buying journey.
				</p>
				<div style="text-align: center;"><img src="http://res.cloudinary.com/djoiybrev/image/upload/v1506972341/ma-ladder_ukpzuy.jpg" alt="Marketin Automation Maturity Ladder"></div>
			</article>
			<div>
				<p>
				Want to assess your company’s stage of marketing automation maturity and learn how to increase the effectiveness of your marketing automation platform?
				</p>
				<a href="/contact"><div class="btn marketing-automation">Contact Us</div></a>
			</div>
		</div>
	</div>
	{{#if data.posts.[0]}}
	<div class="featured-content-section">
		<div class="container">
			<h3 class="ma">Additional Resources</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4><a href="{{postUrl slug}}">{{{type}}}:&nbsp;{{{title}}}</a></h4>
					{{{content.brief}}}
					<div class="fc-cta">
						<a href="{{postUrl slug}}" class="fc-button btn {{{categories.[0].key}}}">{{cta}}</a>
					</div>
				</article>
				{{/each}}
			</div>
			<a  href="/resources" class="resource-btn">View all resources</a>
		</div>
	</div>
	{{/if}}
</div>